<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.storage.s3.gatekeeper</id>
	<name>[WGM] S3 Gatekeeper Storage Engine</name>
	<description>This plugin adds a new Storage Engine to your helpdesk for working with Amazon S3 without directly knowing the required credentials. Instead, it authenticates with a remote script and securely retrieves a pre-signed URL which it then uses to perform requests.</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes</link>
	<image>plugin.png</image>
	
	<!-- Plugin Dependencies -->

	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.3.0" />
	</dependencies>

	<!-- Extensions -->

	<extensions>

		<!-- Storage Engines -->
		<extension point="devblocks.storage.engine">
			<id>devblocks.storage.engine.gatekeeper</id>
			<name>Gatekeeper</name>
			<class>
				<file>api/App.php</file>
				<name>DevblocksStorageEngineGatekeeper</name>
			</class>
			<params>
			</params>
		</extension>

	</extensions>
</plugin>
